<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>YING</string>
		<key>background</key>
		<string>出生于香港最为舒适的中环地带，萧美莲在加入特别任务连（S.D.U）前是个贴身保护特工，凭借快速的反应能力与惊人的接近格斗能力，主导许多VIP与证人保护行动。发展出近距离爆裂物使用能力与格斗技术的她在毕业之后就读精英维安学校。接着以成为全面性的特勤干员为目标，前往以色列特拉维夫一个女子专属的训练中心，她花费了接下来两年，发展对于枪械的特长能力与驾驶技术。也参与了High Sun行动。在完成训练计划之后，她回到香港，在那里确保了数个高风险人员的安全，在2008年牵涉到一场绑架后，她将自己的生涯转往警察单位。她被招募到警察机动部队维安支部，是为了重新查看该单位的行动流程。在这段期间，她逐渐对国际性人质救援行动感到有兴趣，也因此申请加入特别任务连，作为飞虎队（S.D.U）的一分子，她使用自身经验来进行近距离保护，以在香港人口高密度都市区域执行高风险行动时能确保最少的伤亡。</string>
		<key>psychological</key>
		<string>她谦和的态度让她很容易混入人群，让客户与队友感到同等安全与舒适。具有潜在的创伤后压力症候群（PTSD）征兆。她也承认经常回想起某个涉及大量平民的高风险行动中发生的车祸。她极限的驾驶手段可能是应对压力的手段，借此对那些记忆进行掌控。</string>
		<key>train</key>
		<string>练习咏春拳、国际安全局:特拉维夫训练中心、警察机动部队:维安支部、特别任务连（S.D.U）</string>
		<key>experience</key>
		<string>2004 High Sun行动:与特勤干员 Eliza Cohen（Ash）与 Shuhrat Kessikbayev（Fuze）产生连结、2005 Black Jack行动:与特勤干员 Masaru Enatsu（Echo）进行合作\n2008 Jyu Victor Cheung绑架案;受命确保赎金安全无误地递送到目标区域\n2012在一个立法会议投票中疏散外交人员</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ALIBI</string>
		<key>background</key>
		<string>Alibi出生于利比亚的黎波里，三岁时随着家人移民至意大利，她的父亲经营小型军火制造厂，利用广大的人脉将武器出口至北非。在家族企业和靶场训练的熏陶下，Alibi掌握了对意大利枪支的理解和运用知识。18 岁的时候，Alibi参加欧洲射击联合会举办的欧洲冠军联赛，在10米移动靶和10米空气手枪两项分组竞赛赢得金牌。赛后，卡宾枪骑兵队的招募人员说服她加入警方。

Alibi精准的射击技巧和专业素养使她的军阶迅速提升，有机会和精英特殊行动小组共同打击组织犯罪，她最终在著名的特别干预组（G.I.S.）取得一席之地。一次成功的阿富汗行动后，她被选作派往犯罪组织的卧底。她用军火商的身份渗透 Vinciguerra 犯罪家族，在他们之间周旋数年，试图从内部击溃这个组织，而因为报纸泄漏了对抗 Vinciguerra 的行动，迫使 G.I.S. 加快脚步，完成计划。在成功完成瓦解 Vinciguerra 犯罪家族的卧底行动后，Aria De Luca 收到邀请，希望她加入彩虹小队，成为特勤干员。</string>
		<key>psychological</key>
		<string>专家Aria De Luca(即Alibi)展现的多面形象无疑是源自多年的卧底行动,但我怀疑这更可能是源于童年阴影的自我保护措施。她对犯罪家族的恨意深入骨髓(非常明显——这是我从她复杂伪装的缝隙中看到最清楚的事情),我认为这股恨意可能会影响她面对组织犯罪时的理性判断能力。因为在卡宾枪 骑兵队参谋长办公窒的熟人,我才能取得专家De Luca申请加入G.I.S后的心理评估数据。在与过往警方纪录和她家人的就医数据交叉分析后,我相信她的父亲是Pizzo,也就是“保护费&quot;的受害者。除非De Luca先生异常不幸到会反复折断手指，摔下楼梯，甚至让自己的手臂骨折......两次，专家De Luca从不让自己受伤,并展现出我们期望所有特勤干员能达到的强健体格和心理素质，然而心理创伤深植于她的内心,我怀疑是父亲和黑手党间的冲突让我们的&quot;Alibi&quot;走上这条路。

考量那个缩短她在Vinciguerra犯罪家族卧底时间的情况,Alibi是个相当有说服力的机密代号。表面上,专家De Luca是积极努力,获颁公民勇气金牌的G.I.S英雄,但若是稍微深入挖掘内幕,就会知道有些批评者相信她是走漏情报,险些破坏G.I.S调查的罪魁祸首。专家De Luca通过军火商的身份在Vinciguerra犯罪家族中地位快速窜升,因此她得以进入热那亚外围的聚落,也就是人口贩活动的据点。身为归化移民,看见数十名难民在Vinciguerra手上等着被卖为奴隶和妓女的景象,似乎摧毁了专家De Luca精心维护的心理防线并迫使她采取行动。我知道她肯定说服过上级去突袭热那亚聚落,而他们以还在搜集情报为由拒绝了。我还知道在专家De Luca和上级会面后几天名记者引述线民情报,暴露热那亚聚落的事情。

我会如实陈述这份纪录,如果专家De Luca确实泄漏情报,逼迫G.I.S采取行动,拯救受困于热那亚的人们,那我就松了一口气,因为这证明专家De Luca还是有着绝对不会跨越的底线,这个证明很重要。我怀疑是Barston副秘书长通过秘密管道将专家De Luca的迷彩外套放到我的桌上,他也不支持&quot;Rainbow&quot;计划。无论他希望利用这种策略得到什么(我们各有猜测),我可以肯定地说专家De Luca对这场政治阴谋仍一无所知,但她可能在Barston副秘书长的计划中扮演某个角色。如果想要让她站到我们这边,最好把专家Martello(Maestro)也纳入彩虹小队,为我们服务,他的技巧和突破专家De Luca心墙的能力都大有用处。他们曾在Vinciguerra行动里紧密合作,她提供情报让他的部队执行。我怀疑他们的关系更甚于此,但其中似乎又有种不稳定的变动,需要进一步观察。他们是挚友?家族?或者其他关系?时间会告诉我们一切。幸运的是,专家De Luca似乎适应得很好,放弃了SAS.和SEALs特勤干员都很喜欢从事的欺凌行为。总结来说,我相信专家的De Luca是对彩虹计划有价值的新成员,她的特殊技巧能让队伍在不对等的战斗情况里不停猜测。</string>
		<key>train</key>
		<string>卡宾枪骑兵队、特殊作战部队、特别干预组(G.I.S)</string>
		<key>experience</key>
		<string>阿富汗战争，鲜红行动，蛛蜂行动</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ASH</string>
		<key>background</key>
		<string>Cohen在耶路撒冷出生长大，中学毕业后就读于特拉维夫大学的工程学系，并到波士顿大学交换学生一个学期。大学毕业后，她在以色列国防军完成她的公民服役义务，而她的工程背景使她成为机械维修和炸弹拆除的重要人选。</string>
		<key>psychological</key>
		<string>Cohen接受拆弹的专门军事训练，让她有点自我膨胀。她相当积极、冲动和过于自信，想做什么就会马上行动，这可能是一种优点，但对于和她一起工作的人来说，则可能是种致命的危险。</string>
		<key>train</key>
		<string>特拉维夫大学：工程学理工学士、以色列空军\nShaldag特种部队、FBI SWAT (JINSA LEEP）</string>
		<key>experience</key>
		<string>第二次黎巴嫩战争、果园行动、严峻挑战训练</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MUTE</string>
		<key>background</key>
		<string>Chandar 在 12 岁时从中学毕业，是位科学天才，曾利用毕业后一年的空档在英国科技公司实习时完成一套新的保安系统原型机，随后在 14 岁就进入剑桥大学工程学院就读。</string>
		<key>psychological</key>
		<string>Chandar 智商高且善于分析，他通常是教室中最年轻又最聪明的人。他沉默寡言，偏好简单直接的说话方式，因此其生硬的天性容易让人觉得粗鲁无礼。</string>
		<key>train</key>
		<string>剑桥大学：工程理工学位；电子工程博士、英国政通信总部（GCHQ）：电讯情报专家（sigint）、S.A.S.：通讯科技电讯情报专家</string>
		<key>experience</key>
		<string>Tempora 监听行动、GCHQ 原型机工程师、S.A.S. 原型机工程师</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BUCK</string>
		<key>background</key>
		<string>Coté出生并成长于蒙特娄，一直向往与众不同的生活。后来他以一般军官培训计划的方式投入加拿大军队，并同时至大学研习，最终取得犯罪学的学位，毕业后则成为加拿大军队中的宪兵。当他在部队服役完毕后就加入加拿大皇家骑警，后来成为紧急反应小组的成员。在紧急反应小组的表现相当优异，遂接受加拿大军方的邀请再度入伍，成为JTF2的成员。</string>
		<key>psychological</key>
		<string>Coté非常务实，处理事情绝不拐弯抹角，说话直言不讳，也不会夸大其词。从简单的机械装置，到Rainbow小队其他成员所使用的高科技武器，他都相当爱用</string>
		<key>train</key>
		<string>魁北克大学蒙特娄分校：文学学士，犯罪学、加拿大皇家陆军宪兵队\n加拿大皇家骑警紧急反应小组、JTF2</string>
		<key>experience</key>
		<string>特种作战舵手课程、核武器、生物及化学武器防御课程、解救人质及特殊保护作战训练、ATF联合任务（目标为加拿大的国际毒品走私）</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ECHO</string>
		<key>background</key>
		<string>江夏优在东京都的杉并区长大。这个人口众多的城市中心是几个动画工作室和科技公司的家。\n在16岁时，江夏已经借由打造能够在高度困难的情况下进行搜素并救援任务的自动飞行机器人挑战机器人学领域了。两年后，他在国际飞行机器人竞赛（IARC）取得优胜，并被已知是将飞行机器人的能耐推向极限。

江夏在首都大学东京就读时被警视厅警备局所注意到。被能够在实战下测试他的装备所诱使，他加入了警视厅。一年后，他加入了东京都警视厅特殊部队。

注重效率且不擅长与人交流，江夏出了他冷淡的天性外是个相当有天赋的探员。由于2007年的名古屋人质危机，江夏决定调职到爱知县警视厅特殊部队。</string>
		<key>psychological</key>
		<string>格外引人注意的是，江夏的生硬沟通方式使团体中的和谐出现裂痕。他避开给予人回馈的倾向使他一直与升官无缘。</string>
		<key>train</key>
		<string>东京都大学科学与工程学位、与太空科学研究中心合作、国家警察学院：军训课程</string>
		<key>experience</key>
		<string>东京都警视厅警官、警备部警部科、特殊急袭部队（S.A.T.）、2007町田人质危机、2015S.A.T.联合训练（伊势志摩高峰会）</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LESION</string>
		<key>background</key>
		<string>出生在香港将军澳的廖子朗，儿时由父亲所抚养，父亲在船厂工作并经常加班，廖子朗则会不时地帮助父亲进行工作。船厂工作不景气之后父子两人开始进行一些拆除工作，然而父亲的背部在工作中受伤后，19岁的廖子朗无法依靠自己的收入来支撑两人的生活，恰好在那个期间中国招募士兵来进行云南与广西的排雷作业，廖子朗决定应征入伍，并进行了为期两年的高危排雷工作，由于他在爆破与拆弹方面锻炼出了充分的经验，在返回香港后，他加入了香港爆破处理科，在那之后他加入了特别任务连SDU以应对CBRN恐怖攻击威胁。</string>
		<key>psychological</key>
		<string>Lesion非常严格地对待自己的每一项工作，他几乎每一天都要将自己暴露在高度危险的处境中。他这种自虐的行为被一些人认为是傲慢的表现，也时常让他被身边的人孤立。这种勇于挑战危险处境的本性，让Lesion刚进入警队时，就志愿加入了拆弹部门。在他10岁时为了拆除废船而落入油槽中，在挣扎逃脱的同时他吸入了大量的含毒废水，尽管他借由破坏油槽外部而成功逃脱，但也因此有了后遗症：廖子昂对物理性伤害具有极高抗性，然而他的心智是区别其他年轻候选人的原因。他是能撑过SAS审问抗性训练计划“强化版”的 三个新进干员之一

注意：在执行审问抗性训练计划中较紧凑的阶段时，检测到强烈的油水气味，不知道他当年训练时到底喝了多少汽油。</string>
		<key>train</key>
		<string>1992-1994地雷清理勤务、香港爆破品处理科、CBRN防护组\n香港警察机动部队特别任务连（SDU）
参与审问抗性训练计划“强化版”</string>
		<key>experience</key>
		<string>2009旺角高空投掷腐蚀性液体伤人案、绿蟒行动</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ELA</string>
		<key>background</key>
		<string>生于 弗次瓦夫（下西里西亚省会）的 Elżbieta Bosak 是 前波兰特种部队 GROM 指挥官 Jan Bosak 的女儿。

由于就读军事高等学校时遭遇挫折，Ela 在毕业后就离开波兰，前往柏林研读美术。但是怀念旧生活的她，对美术逐渐失去兴趣。她在那段时间认识了一位小型私人军事公司的老板，对方提议了一项工作给她。渴望冒险与经济独立的 Ela 接下了这份工作。

Ela 作为私人军事公司的一份子开始于伊拉克工作并赢得了些名声。因拥有多才多艺而闻名的她，却因为性格而遭到阻碍。虽然她的存在在任何部队中都会视为非常有帮助，但是她的雇主总是紧密监视她以调查权责问题。在外派四年之后，她第一次收到来自家里的消息，其中诉说着她的父亲自杀了。

在父亲死后的数个月，Ela 终止了她的契约并以平民的身份训练通过 GROM 的选拔。GROM 因她的毅力与无畏而感到印象深刻，决定给予她一个罕见的机会。她在波兰军队中学习到了反威胁网路[原文：Countering Threat Networks]（CTN）上的专精，并且帮助设计进阶揭露手段以取得特定目标的企图、补给路线的资讯。

其中一个她最为人所知的故事就是橙空行动，与 SEAL 的情资专家（英文原文：Intel expert） Valkyrie 一同合作之下，Ela 花费数个月潜入到一位军阀的核心圈子并将之瓦解，过程中并没有半位平民受伤。</string>
		<key>psychological</key>
		<string>独立、富有创造性却又叛逆，Elżbieta 曾在伊拉克遭逢巨大损失，因此非常熟悉自己角色所面临的危险。
她父亲突然的去世使得她对于目的有着深切的需求。 Elżbieta 内心中相信她必须向死去的父亲证明自己并借此赎过，逼迫自己达到不实际的高标准并引领高风险的行动。</string>
		<key>train</key>
		<string>生存、回避、反抗、脱离（SERE）训练、引导战斗伤害评估 (BDA)、私人军事契约者、反叛乱行动、GROM 部队 （ZBC）- 专长未知</string>
		<key>experience</key>
		<string>夺取木卡莱茵大坝（2003）、巴格达国际机场（2003-2005）、黑桃行动（2006）、橙空行动（2007)</string>
	</dict>
</array>
</plist>
